.hall {

    display: flex;
    flex-wrap: wrap;
    /*flex-direction: row;*/
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    background: #D1D6DD;
    text-align: center;
    column-gap: 100px;
}


.hall-table1 {
    display: flex;
    justify-content: center;
}
.tables{
    width: 100%;
    max-width: 1000px;
}
.tb1 {
    display: flex;
    margin: 60px;
    background-color: #265D6E;
    width: 500px;
    height: 100px;
    align-items: center;
    justify-content: center;
    color: white;

}
.hall-first{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hall-second {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 7%;
    margin-right: 7%;
}

.tb2 {
    width: 100px;
    height: 285px;
    background-color: #265D6E;
    margin: 50px 50px 50px 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
   /*margin-left: 100%;*/

}

.tb3 {
    /*position: relative;*/
    margin: 50px 50px 50px 50px;
    width: 100px;
    height: 285px;
    background-color: #265D6E;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;


}

.hall-third{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}

.tb4{
    margin: 50px 50px 50px 50px;
    width: 285px;
    height: 100px;
    background-color: #265D6E;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tb5{
    margin: 50px 50px 50px 50px;
    width: 285px;
    height: 100px;
    background-color: #265D6E;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}


.form-place{
    background-color: #9FB8C6;
    display: flex;
    /*max-width: 700px;*/
    padding: 5px;

}
form{
    margin: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    flex-wrap: wrap;
    column-gap: 25px;
    margin-bottom: 75px;
}

input[type="button"],input[type="submit"]{
    width: 180px;
    /*height: 30px;*/
    color: #EBC59F;
    background: #265D6E ;
    text-align: center;
    padding: 7px 0 7px 0;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 100px;
    position: absolute;
    font-weight: lighter;
}
#save{
    margin-top: 820px;
    margin-left: 80px;
}
#exit{
    margin-top: 820px;
    margin-left: 400px;
}

#save:hover,#exit:hover{
    cursor: pointer;
    transition: 0.5s;
    background: rgba(149, 151, 154, 0.96);
    color: white;
}



