
.container{

}
.why{
    display: inline-block;
    background-color: #9FB8C6;
    flex-direction: column;
    color: white;
    align-items: center;
    width: 100%;
    padding-bottom: 35px;
}

.why--text {
    /*margin-top: 45px;*/
    text-align: center;
    font-size: 37px;
    font-weight: lighter;
}
.why--cards{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    /*grid-template-columns: 1fr 1fr 1fr 1fr 1fr;*/
    gap: 150px;
    justify-content: center;
}

.card{
    width: 120px;
    /*width: 100%;*/
    text-align: center;
}

.card--img{
    /*width: 100%;*/
    align-items: center;
    /*display: block;*/
    margin: auto;
}

.card--text{
    text-align: center;
    width: 100%;
    /*width: 100px;*/
}