.nav{
    margin: 0;
    background-color: #265D6F;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    z-index: 5;
}
.nav--logo{
    display: flex;
}

.logo--img{
    margin: 10px;
}
.logo--text{
    color: #EBC59F;
    width: 215px;

    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    margin-bottom: 0;
    align-items: center;
}
.logo--text:hover{
    color: white;
}
.nav--login{
    align-items: center;
    margin-right: 20px;
    display: flex;
    color: #EBC59F;
    gap: 25px;
}
.login--text{
    width: auto;
    color: #265D6E;
    background: #EBC59F;
    text-align: center;
    font-weight: bold;
    padding: 7px ;
}
.login--text:hover{
    transition: 0.5s;
    background: rgba(149, 151, 154, 0.96);
}
.login--sign{
    text-decoration: none;
    margin-top: 7px;
}
.login--sign:hover{
    cursor: pointer;
    color: white;
}
.ligin--all{
    display: flex;
    column-gap: 20px;
}
@media (max-width: 530px) {
    .login--sign{
        font-size: 12px;
    }
    .login--text{
     padding: 5px;
    }
    .nav--login{
        /*display: ;*/
    }

}