.why{
    display: flex;
    background-color: #9FB8C6;
    flex-direction: column;
    color: white;
    align-items: center;
}

.why--text {
    margin-top: 45px;
    font-size: 37px;
    font-weight: lighter;
}
.why--cards{
    width: 1200px;;
    display: flex;
    gap: 150px;
    justify-content: center;
}

.card{
    width: 120px;
    /*width: 100%;*/
    text-align: center;
}

.card--img{
    /*width: 100%;*/
    align-items: center;
    /*display: block;*/
    margin: auto;
}

.card--text{
    text-align: center;
    width: 100%;
    /*width: 100px;*/
}