*{
    /*min-width: 600px;*/

    font-family: 'Montserrat', sans-serif;}

body{
    margin: 0;
    gap: 0;

}
#root{
    min-width: 500px;
    /*width: 100%;*/
}
.App{
    width: 100%;
    /*display: flex;*/
}