.container--signup{
    display: flex;
    position: relative;
    background-image: url("../../../img/StartPageImg/background_header.png");
    background-size: cover;
    /*width: 1600px;*/
    height: 720px;
    /*height: 500px;*/
    /*background: rgba(6, 46, 58, 0.5);*/
    align-items: center;
    justify-content: center;

}
.container--signup:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(6, 46, 58, 0.5);
    z-index: 1;
}
a {
    color: #265D6F;
}
a:hover{
    text-decoration: none;
}

.signup{
    z-index: 3;
    width: 450px;
    height: 500px;
    background-color: rgba(209,214,221,0.9);
    /*margin: 100px auto 100px auto;*/
    text-align: center;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 0px 100px #000000;
}

.input[type="text"],input[type="password"]{
    padding-left: 30px;
    border: none;
    width: 300px;
    height: 50px;
    font-size: 20px;
    border-radius: 4px;
    margin-top: 35px;


}

.signup--input:before{
    font-family: "FontAwesome";
    content: "\f007";
    position: absolute;
    font-size: 30px;
    padding: 45px 0 0 5px;
    color: #265D6E;
}

.signup--input:nth-child(3):before{
    content: "\f0e0";
    padding-top: 49px;
    font-size: 23px;
}
/*.signup--input:nth-child(3):before{*/
/*    content: "\f095";*/
/*    padding-top: 49px;*/
/*    font-size: 23px;*/
/*}*/
.signup--input:nth-child(4):before{
    content: "\f023";
}

.signup--input:hover:before{
    transition: 0.4s;
    color: rgba(84,97,221,0.96);
}

.signup--input input:hover{
    box-shadow:0 0 6px rgba(74,113,221,0.5);;
}


.signup--button{
    padding: 13px 30px;
    margin: 25px 0 20px 0  ;
    font-size: 22px;
    background-color: #265D6E;
    border: none;
    border-bottom: 4px solid #0E456E ;
    color: #EBC59F;
    cursor: pointer;
}

.signup--button:hover{
    transition: all 0.5s;
    background: rgba(18,51,87,0.96);
    color: #FFFFFF;
}
.signup--social{
    padding-top: 30px;
}

.signup--social i{
    color: #265D6E;
    font-size: 30px;
    padding: 15px;
    width: 30px;
}

.signup--social i:hover{
    transition: 0.3s;
    background-color: rgba(38,93,110);
    color: #EBC59F ;
    border-radius: 5px;
    cursor: pointer;
}
.sign--status{
   ;
    margin: auto;
    margin-top: 35px;
    padding: 15px;
    color: white;
    font-size: 20px;
    background-color: rgba(255,0,0,0.37);
    border: solid 1px  red;
    width: 80%;
    border-radius: 15px;

}